node_modules/
dist/
.env
.env.local
.env.production.local
backend/node_modules/
backend/dist/
backend/.env
backend/prisma/*.db
backend/prisma/*.db-journal
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production.local
.DS_Store
Thumbs.db
